<div id="page">
    {% include nav.html %}

    <header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url({{ site.baseurl }}/images/img_7.jpg);background-position:0px;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7 text-left">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeInUp">
                            <span class="date-post">2017-09-01</span>
                            <h1 class="mb30"><a href="#">Linux系统Apache2.4+Tomcat7.0整合配置</a></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="gtco-maine">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-12">
                    <article class="mt-negative">
                        <div class="text-left content-article">
                            <div class="row">
                                <div class="col-lg-8 cp-r animate-box">

                                </div>
                                <div class="col-lg-4 animate-box">
                                    <div class="gtco-highlight right">
                                        <h4>点点滴滴</h4>
                                        <p style="font-size:15px;">今天是9月1號了，又開學了，中午跟同事一起去附近一個大學的食堂吃飯，看見了好多學生，走在食堂裏總有種格格不入的感覺，感歎之余，發現自己已不再是學生了。大學時光多麽美好啊，逝去的時光，留下了美好的回憶。感慨發完，繼續來寫Apache2.4+Tomcat7.0整合配置。</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>



    <footer id="gtco-footer" role="contentinfo" style="padding:0;">
        <div class="container">
            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <span style="font-size:16px;">©</span>2017 版权所有 ICP证：<a href="http://www.miitbeian.gov.cn/" target="_block" style="color:#666666">粤ICP备17112246号</a>
                        <script type="text/javascript">
                            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                            document.write(unescape("%3Cspan id='cnzz_stat_icon_1264398044'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1264398044%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
                        </script>
                    </p>
                </div>
            </div>

        </div>
    </footer>
</div>