<footer id="gtco-footer" role="contentinfo" style="padding:0;">
	<div class="container">
		<div class="row copyright">
			<div class="col-md-12 text-center">
				<p>
					<span style="font-size:16px;">©</span>2017 版权所有

					ICP证：<a href="http://www.miitbeian.gov.cn/" target="_block" style="color:#666666">粤ICP备17112246号</a>
					<script type="text/javascript">
                        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                        document.write(unescape("%3Cspan id='cnzz_stat_icon_1264398044'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1264398044%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
					</script>
				</p>
			</div>
		</div>

	</div>
</footer>